# =========================
# DISCORD BOT CONFIG
# =========================

BOT_TOKEN=PASTE_YOUR_BOT_TOKEN
CLIENT_ID=PASTE_YOUR_CLIENT_ID
CLIENT_SECRET=PASTE_YOUR_CLIENT_SECRET

# =========================
# DASHBOARD CONFIG
# =========================

PORT=3000

SESSION_SECRET=my_super_secret_key_123456

DASHBOARD_URL=https://YOUR-APP.up.railway.app

# =========================
# MONGODB
# =========================

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/bot_dashboard

# =========================
# OPTIONAL SETTINGS
# =========================

PREFIX=!

LOG_CHANNEL_ID=
MOD_ROLE_ID=
AUTO_ROLE_ID=
VOICE_CHANNEL_ID=
WELCOME_CHANNEL_ID=
